.header {
    position: relative;
    height: 140px;
    width: 100%;
    overflow: hidden;
}

.header-image {
    height: 100%;
    width: 100%;
}

.header-blur {
    z-index: 125;
    height: 150%;
    width: 100%;
    position: absolute;
    filter: blur(13px);
    bottom: -25%;
    top: -25%;
}

.header-caption {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    font-size: 28px;
    overflow: hidden;
    border-top: 2px solid #FFFFFF3F;
    border-bottom: 2px solid #FFFFFF3F;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-caption.album {
    font-size: 17px;
}

.header-text {
    z-index: 150;
    position: relative;
    color: #FFFFFF;
    text-shadow: 1px 0 2px #3B3B3B;
}

.header-text.large {
    font-weight: 600;
}

.header-text.small {
    font-size: 0.5em;
    font-weight: 400;
}

.header-text.small.album {
    font-size: 0.6em;
}

@media (min-width: 576px) {
    .header-caption {
        font-size: 33px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-caption.album {
        font-size: 23px;
    }

    .header {
        height: 140px;
    }
}

@media (min-width: 768px) {
    .header-caption {
        font-size: 37px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header-caption.album {
        font-size: 27px;
    }

    .header {
        height: 180px;
    }
}

@media (min-width: 992px) {
    .header-caption {
        font-size: 45px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header-caption.album {
        font-size: 33px;
    }

    .header {
        height: 250px;
    }
}