.caption {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    font-size: 28px;
}

.full-width-thumbnail {
    position: relative;
    height: 110px;
    width: auto;
    overflow: hidden;
}

.large-bold-text {
    color: white;
    font-weight: 600;
}

@media (min-width: 576px) {
    .caption {
        font-size: 35px;
        top: 20%;
    }

    .full-width-thumbnail {
        height: 140px;
    }
}

@media (min-width: 768px) {
    .caption {
        font-size: 40px;
        top: 20%;
    }

    .full-width-thumbnail {
        height: 180px;
    }
}

@media (min-width: 992px) {
    .caption {
        font-size: 55px;
        top: 25%;
    }

    .full-width-thumbnail {
        height: 230px;
    }
}

/*@media (min-width: 1200px) {*/
    /*.large-bold-text {*/
        /*font-size: 55px;*/
    /*}*/
    /**/
    /*.full-width-thumbnail {*/
        /*height: 250px;*/
    /*}*/
/*}*/

.small-text {
    font-size: 0.4em;
    color: white;
    font-weight: 400;
    margin-left: 200px;
    margin-right: 200px;
    /*max-width: 1000px;*/
}

.thumb-photo {
    /*width: 400px;*/
    padding-top: 30px;
}

.photo-cover {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.crop-center-photo img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
}

.crop-center-photo img.portrait {
    height: auto;
    width: 100%;
}

/*li img {*/
/*max-width: 100%;*/
/*height: auto;*/
/*width: auto;*/
/*}*/
/*li img.landscape {*/
/*max-width: none;*/
/*max-height: 100%;*/
/*}*/

.photo-container {
    display: flex;
    justify-content: center;
}

body {
    /*background-color: #ececff;*/
    background-color: #edeef0;
    font-family: 'Montserrat', sans-serif;
}

.thumb-info {
    background-color: white;
    padding: 40px 25px 25px 25px;
}

.thumb-info-name {
    font-size: 20px;
    font-weight: 600;
}

.thumb-info-meta {
    padding-top: 20px;
    font-size: 11px;
    color: #454545;
    font-weight: 400;
}

.thumb-info-description {
    padding-top: 20px;
    font-size: 13px;
    color: #2f2f2f;
    font-weight: 400;
    height: 90px;
}

.footer {
    position: absolute;
    margin-top: 30px;
    width: 100%;
    height: 90px;
    background-color: #101010;
    color: #ffffff;
    font-size: 13px;
}

.social-icon {
    max-width: 25px;
    height: auto;
    border-radius: 40px;
    overflow: hidden;
    margin-left: 20px;
}

.social-icon img {
    width: 100%;
    height: 100%;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.album-photo-cover {
    width: 100%;

}

.album-photo-cover img {
    width: 100%;
    height: auto;
}

.album-photo-cover img.portrait {
    width: auto;
    max-height: 500px;
}

.album-post {
    margin-top: 30px;
    background-color: #ffffff;
}

/*.album-post-header {*/
    /*!*min-height: 100px;*!*/
    /*background-color: #ffffff;*/

    /*!*padding-left: 40px;*!*/
/*}*/

.post-name {
    font-size: 19px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 30px;
}

.post-location {
    font-weight: 400;
    font-size: 14px;
    padding-right: 40px;
    font-style: italic;
}

.post-description {
    padding: 20px 20px 0;
    font-size: 14px;
}

.post-date {
    font-weight: 300;
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 45px;
}

.album-post-footer {
    padding-bottom: 15px;
}

.like-count {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
}

.like-heart {
    width: 17px;
}

.like-heart img {
    width: 100%;
}

.post-like {
    padding-top: 15px;
}