<div class="about-container">
    <div class="about-column">
        <div class="about-photo-item-container">
            <div class="about-photo-item-header">
                <div class="about-photo-item-name">
                    Видели ночь!
                </div>
                <div class="about-photo-item-place">
                    01 Сентября, 2010
                </div>
            </div>
            <div class="about-photo-item">
                <img src="1.jpg">
            </div>
            <div class="about-photo-item-actions">
                <div class="about-photo-item-like">
                    <img src="liked.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Like 1
                </div>
                <div class="about-photo-item-comment">
                    <img src="comment.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Comment 1
                </div>
            </div>
        </div>
        <div class="about-photo-item-container">
            <div class="about-photo-item-header">
                <div class="about-photo-item-name">
                    Гуляли всю ночь
                </div>
                <div class="about-photo-item-place">
                    08 Февраля, 2015
                </div>
            </div>
            <div class="about-photo-item">
                <img src="2.jpg">
            </div>
            <div class="about-photo-item-actions">
                <div class="about-photo-item-like">
                    <img src="unliked.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Like 10
                </div>
                <div class="about-photo-item-comment">
                    <img src="comment.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Comment 2
                </div>
            </div>
        </div>
        <div class="about-photo-item-container">
            <div class="about-photo-item-header">
                <div class="about-photo-item-name">
                    До утраааааааа!
                </div>
                <div class="about-photo-item-place">
                    11 Июля, 2007
                </div>
            </div>
            <div class="about-photo-item">
                <img src="3.jpg">
            </div>
            <div class="about-photo-item-actions">
                <div class="about-photo-item-like">
                    <img src="liked.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Like 100
                </div>
                <div class="about-photo-item-comment">
                    <img src="comment.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Comment 3
                </div>
            </div>
        </div>
        <div class="about-photo-item-container">
            <div class="about-photo-item-header">
                <div class="about-photo-item-name">
                    Sweet Dreams!
                </div>
                <div class="about-photo-item-place">
                    17 Августа, 2015
                </div>
            </div>
            <div class="about-photo-item">
                <img src="4.jpg">
            </div>
            <div class="about-photo-item-actions">
                <div class="about-photo-item-like">
                    <img src="unliked.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Like 1000
                </div>
                <div class="about-photo-item-comment">
                    <img src="comment.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Comment 4
                </div>
            </div>
        </div>
        <div class="about-photo-item-container">
            <div class="about-photo-item-header">
                <div class="about-photo-item-name">
                    Sweet Dreams!
                </div>
                <div class="about-photo-item-place">
                    17 Августа, 2015
                </div>
            </div>
            <div class="about-photo-item">
                <img src="4.jpg">
            </div>
            <div class="about-photo-item-actions">
                <div class="about-photo-item-like">
                    <img src="unliked.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Like 1000
                </div>
                <div class="about-photo-item-comment">
                    <img src="comment.svg">
                </div>
                <div class="about-photo-item-action-text">
                    Comment 4
                </div>
            </div>
        </div><div class="about-photo-item-container">
        <div class="about-photo-item-header">
            <div class="about-photo-item-name">
                Sweet Dreams!
            </div>
            <div class="about-photo-item-place">
                17 Августа, 2015
            </div>
        </div>
        <div class="about-photo-item">
            <img src="4.jpg">
        </div>
        <div class="about-photo-item-actions">
            <div class="about-photo-item-like">
                <img src="unliked.svg">
            </div>
            <div class="about-photo-item-action-text">
                Like 1000
            </div>
            <div class="about-photo-item-comment">
                <img src="comment.svg">
            </div>
            <div class="about-photo-item-action-text">
                Comment 4
            </div>
        </div>
    </div><div class="about-photo-item-container">
        <div class="about-photo-item-header">
            <div class="about-photo-item-name">
                Sweet Dreams!
            </div>
            <div class="about-photo-item-place">
                17 Августа, 2015
            </div>
        </div>
        <div class="about-photo-item">
            <img src="4.jpg">
        </div>
        <div class="about-photo-item-actions">
            <div class="about-photo-item-like">
                <img src="unliked.svg">
            </div>
            <div class="about-photo-item-action-text">
                Like 1000
            </div>
            <div class="about-photo-item-comment">
                <img src="comment.svg">
            </div>
            <div class="about-photo-item-action-text">
                Comment 4
            </div>
        </div>
    </div><div class="about-photo-item-container">
        <div class="about-photo-item-header">
            <div class="about-photo-item-name">
                Sweet Dreams!
            </div>
            <div class="about-photo-item-place">
                17 Августа, 2015
            </div>
        </div>
        <div class="about-photo-item">
            <img src="4.jpg">
        </div>
        <div class="about-photo-item-actions">
            <div class="about-photo-item-like">
                <img src="unliked.svg">
            </div>
            <div class="about-photo-item-action-text">
                Like 1000
            </div>
            <div class="about-photo-item-comment">
                <img src="comment.svg">
            </div>
            <div class="about-photo-item-action-text">
                Comment 4
            </div>
        </div>
    </div><div class="about-photo-item-container">
        <div class="about-photo-item-header">
            <div class="about-photo-item-name">
                Sweet Dreams!
            </div>
            <div class="about-photo-item-place">
                17 Августа, 2015
            </div>
        </div>
        <div class="about-photo-item">
            <img src="4.jpg">
        </div>
        <div class="about-photo-item-actions">
            <div class="about-photo-item-like">
                <img src="unliked.svg">
            </div>
            <div class="about-photo-item-action-text">
                Like 1000
            </div>
            <div class="about-photo-item-comment">
                <img src="comment.svg">
            </div>
            <div class="about-photo-item-action-text">
                Comment 4
            </div>
        </div>
    </div><div class="about-photo-item-container">
        <div class="about-photo-item-header">
            <div class="about-photo-item-name">
                Sweet Dreams!
            </div>
            <div class="about-photo-item-place">
                17 Августа, 2015
            </div>
        </div>
        <div class="about-photo-item">
            <img src="4.jpg">
        </div>
        <div class="about-photo-item-actions">
            <div class="about-photo-item-like">
                <img src="unliked.svg">
            </div>
            <div class="about-photo-item-action-text">
                Like 1000
            </div>
            <div class="about-photo-item-comment">
                <img src="comment.svg">
            </div>
            <div class="about-photo-item-action-text">
                Comment 4
            </div>
        </div>
    </div><div class="about-photo-item-container">
        <div class="about-photo-item-header">
            <div class="about-photo-item-name">
                Sweet Dreams!
            </div>
            <div class="about-photo-item-place">
                17 Августа, 2015
            </div>
        </div>
        <div class="about-photo-item">
            <img src="4.jpg">
        </div>
        <div class="about-photo-item-actions">
            <div class="about-photo-item-like">
                <img src="unliked.svg">
            </div>
            <div class="about-photo-item-action-text">
                Like 1000
            </div>
            <div class="about-photo-item-comment">
                <img src="comment.svg">
            </div>
            <div class="about-photo-item-action-text">
                Comment 4
            </div>
        </div>
    </div><div class="about-photo-item-container">
        <div class="about-photo-item-header">
            <div class="about-photo-item-name">
                Sweet Dreams!
            </div>
            <div class="about-photo-item-place">
                17 Августа, 2015
            </div>
        </div>
        <div class="about-photo-item">
            <img src="4.jpg">
        </div>
        <div class="about-photo-item-actions">
            <div class="about-photo-item-like">
                <img src="unliked.svg">
            </div>
            <div class="about-photo-item-action-text">
                Like 1000
            </div>
            <div class="about-photo-item-comment">
                <img src="comment.svg">
            </div>
            <div class="about-photo-item-action-text">
                Comment 4
            </div>
        </div>
    </div>
    </div>
</div>