<div class="portfolio-container">
    <div class="portfolio-column">
        <div class="portfolio-photo-item-container">
            <div class="portfolio-photo-item">
                <img src="1.jpg">
            </div>
            <div class="portfolio-photo-item-footer">
                <div class="portfolio-photo-item-name">
                    Какая красотища! | Miss Banana
                </div>
            </div>
        </div>
        <div class="portfolio-photo-item-container">
            <div class="portfolio-photo-item">
                <img src="2.jpg">
            </div>
            <div class="portfolio-photo-item-footer">
                <div class="portfolio-photo-item-name">
                    Какая красотища! | Miss Banana
                </div>
            </div>
        </div>
        <div class="portfolio-photo-item-container">
            <div class="portfolio-photo-item">
                <img src="3.jpg">
            </div>
            <div class="portfolio-photo-item-footer">
                <div class="portfolio-photo-item-name">
                    Какая красотища! | Miss Banana
                </div>
            </div>
        </div>
        <div class="portfolio-photo-item-container">
            <div class="portfolio-photo-item">
                <img src="4.jpg">
            </div>
            <div class="portfolio-photo-item-footer">
                <div class="portfolio-photo-item-name">
                    Какая красотища! | Miss Banana
                </div>
            </div>
        </div>
    </div>
</div>