.album-photo-cover {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.album-photo-count {
    position: absolute;
    z-index: 100;
    top: 210px;
    width: 100%;
    height: 40px;
    color: #EDEEF0;
    font-size: 10px;
    font-weight: 500;
    padding-right: 10px;
    background: #00000055;
    cursor: default;
}

.album-image-overlay {
    position: absolute;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: 210px;
    transition: .1s ease;
}

.album-image-overlay:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #00000055;
}

@media (min-width: 768px) {
    .album-photo-cover {
        height: 280px;
    }

    .album-photo-count {
        top: 240px;
    }

    .album-image-overlay {
        height: 240px;
    }
}

@media (min-width: 992px) {
    .album-photo-cover {
        height: 250px;
    }

    .album-photo-count {
        top: 210px;
    }

    .album-image-overlay {
        height: 210px;
    }
}

.album-thumb {
    padding-top: 30px;
}

.album-info {
    background-color: #FFFFFF;
    padding: 40px 25px 25px 25px;
}

.album-info-name {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.album-info-description {
    font-size: 13px;
    color: #2f2f2f;
    font-weight: 400;
    height: 90px;
}

.album-info-button {
    width: 110px;
    height: 30px;
    font-size: 11px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #cb132a;
    cursor: pointer;
    transition: 0.5s ease;
}

.album-info-button:hover {
    color: #cb132a;
    background-color: #FFFFFF;
    border: 1px solid #cb132a;
}

a:hover {
    text-decoration: none;
}