
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /*background-color: #ebeced;*/
    background: url(backtry9.jpg) repeat-y;

    /*background: url(backtry8.jpg) repeat-y center;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

.main-container-center {
    max-width: 1200px;
    flex-direction: column;
    display: flex;
    width: 100%;
}